<img src="/imges/promotional.png" class="hero-image" />
<section class="tvsec">
  <div class="slider">
    <h1 class="center">Tv</h1>
<app-card-tv></app-card-tv>
  </div>
  
</section>

<section>
  <div class="LatestProduct py-3">
    <ul class="nav-links center m-0 p-0">
      <li><a (click)="setCategory('tv')" [class.active]="selectedCategory === 'tv'">TV</a></li>
      <li><a (click)="setCategory('audio')" [class.active]="selectedCategory === 'audio'">Audio</a></li>
      <li><a (click)="setCategory('laptop')" [class.active]="selectedCategory === 'laptop'">Laptop</a></li>
      <li><a (click)="setCategory('mobile')" [class.active]="selectedCategory === 'mobile'">Mobile</a></li>
      <li><a (click)="setCategory('gaming')" [class.active]="selectedCategory === 'gaming'">Gaming</a></li>
    </ul>
    <app-card-type *ngIf="selectedCategory" [category]="selectedCategory"></app-card-type>
   <div class="center">
    <button routerLink="/products" class="btn">Show ALL</button>
   </div>
    
  </div>
</section>
<section>
  <div class="support-section">
    <div class="support-card">
      <img src="/imges/free-delivery 1.svg"  alt="Free Shipping" class="support-icon" />
      <h3>24/7 Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
    </div>
    <div class="support-card">
      <img src="/imges/cashback 1.svg" alt="Money Back" class="support-icon" />
      <h3>24/7 Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
    </div>
    <div class="support-card">
      <img src="/imges/premium-quality 1.svg"  alt="Award" class="support-icon" />
      <h3>24/7 Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
    </div>
    <div class="support-card">
      <img src="/imges/24.svg" alt="Support" class="support-icon" />
      <h3>24/7 Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
    </div>
  </div>
</section>