*{
color: var(--text-color);
}
.checkout-button {
    background:#ff4d79;
    color: var(--white);
    padding: 12px;
    border: none;
    width: 35%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.checkout-button:hover {
 
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  .order{
    border-bottom: 1px dashed var( --page-button-color);
    border-left: 1px dashed var( --page-button-color);
    padding: 30px;
    position: relative;
  }
  .clock{position: absolute;
    top: -20px;
    left: -37px;
    width: 85px;
     
  }
  .checklist{    position: absolute;
    bottom: -29px;
    right: -30px;
  }