<div class="center my-5 py-5">
  <div class="order w-50">
    <img src="/imges/clock 1.svg" class="clock" alt="">
    <img src="/imges/checklist 1.svg" class="checklist" alt="">
    <h1 class="text-center py-3">Your Order Is Completed !</h1>
    <p class="my-2 mx-4">
      Thank you for your order! Your order is being processed and will be
      completed within 3-6 hours. You will receive an email confirmation when
      your order is completed
    </p>
    <div class="center py-3">
      <button routerLink="/home" class="checkout-button">Continue Shopping</button>
    </div>
  </div>
</div>
