<header class="header">
  <div class="info">
    <span class="mx-3"
      ><i class="fa-regular fa-envelope mx-1"></i>mayarmohsen5&#64;gmail.com
    </span>
    <span> <i class="fa-solid fa-phone-volume mx-1"></i>phone</span>
  </div>
  <div class="logincart">
    <span class="mx-4">login <i class="fa-regular fa-user"></i></span>
    <span class="mx-2"><i class="fa-solid fa-cart-shopping"></i></span>
  </div>
</header>
<nav class="navbar">
  <div class="logo fw-bold fw-semibold">
    <a routerLink="/">Hekto</a>
  </div>
  <ul class="nav-links">
    <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
    <li><a routerLinkActive="active" routerLink="/products">pages</a></li>
    <li><a routerLinkActive="active" routerLink="/cart">Cart</a></li>
  </ul>
  <div class="search-container">
    <input type="text" placeholder="Search..." class="search-input" />
    <button class="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</nav>
